
<div class="worldwide">
  <h2>World Wide</h2>
  <div class="list">
    <div class="item">
      <div class="icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="content">
        <div>
          <p>Confirmed</p>
          <b>{{ worldWideData?.confirmed | number }}</b>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa fa-medkit" aria-hidden="true"></i>
      </div>
      <div class="content">
        <div>
          <p>Recoverd</p>
          <b>{{ worldWideData?.recovered | number }}</b>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa fa-ban" aria-hidden="true"></i>
      </div>
      <div class="content">
        <div>
          <p>Deaths</p>
          <b>{{ worldWideData?.deaths | number }}</b>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </div>
      <div class="content">
        <div>
          <p>Fatals</p>
          <b>{{ fatality | number }}%</b>
        </div>
      </div>
    </div>
  </div>
</div>
