<div class="contain" >
  <h3>Statistic</h3>
  <div class="select">
    <button (click)="selectAll()" [ngClass]="{'active':selectedAll}">All</button>
    <button (click)="select10days()"[ngClass]="{'active':selected10days}"> 10 days</button>
  </div>
  <div class="chart">
    <canvas id="canvas"></canvas>
  </div>
  <div class="typeChart">
    <p (click)="showLine()" [ngClass]="{'active':lineChart}" >Line chart</p>
    <p (click)="showBar()" [ngClass]="{'active':!lineChart}" >Bar chart</p>
  </div>
   
  </div>
